h1 {color: F5F5F5;}
h1 {text-align: center;}
h1 {margin-bottom: 30px;}
h1 {background-color: black}

.title {
	color: F5F5F5; /* Here I have made the colour of the title the same as the background. This is to give the effect of the text being "Cut out" or transparent. */
}
.title {font-family: courier}
.title {text-align: center;} /* Here you can see me using the "Title" class that I specified in my HTML sheet. This has made it easier for me to edit this one particular object. */
.text-center {
	text-align: center;
}
.subtitle {color: grey;
}
.subtitle {font-family: courier;}
body {padding: 30px;
	background-color: F5F5F5

}
form {text-align: : center;} /* I have used text-align to center much of my website's text, images and structure. This is to make my website more visually appealing by adding symmetry. */
p {text-align: center;}
button {text-align: center;}
h2 {text-align: center;}
h2 {margin-bottom: 21px;}
h3
 {text-align: center;}
img {text-align: center;}
img {padding: 100px;} /* I have added padding around my images to ensure that they are appropriately spaced from all other structures. */
.menu {background-color:F5F5F5;}
.menu__list {list-style: none}
.menu__listitem {display: inline-block;}
.menu__listitem {text-align: center;}
.menu__listlink {color: black;}
.menu__listlink {text-align: center;}
nav {text-align: center;}
.menu__list {padding: 0px;}
.menu__listitem {padding: 25px;}
.menu__listitem {padding-bottom: 10px;}
.menu__listitem {padding-top: 10px;}
.naruto {text-align: center}
body {margin: 75px;}
.menu__listitem {font-family: courier;}
body {font-family: 'roboto', courier;}
p {font-weight: normal}
.intro {padding-bottom:110px}
.me {padding-top: 20px}
footer {padding-top: 30px;}